@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}


html { 
  appearance: none;
  overflow: hidden;
  overscroll-behavior: none;
  scrollbar-color: rgb(18, 18, 18) transparent;
  background-color: black;
  background: linear-gradient(
    to left top, 
    rgb(26, 25, 25), 
    rgb(26, 25, 25) 55%, 
    rgb(7, 7, 7)
  );
  color: #F3F4F6;
  
  }

